
/* h1{
    font-family: 'Calibri';
}; */






.wishlistItem-image{
    width: 400px;
    height: 475;
    padding: 10px;
    border-top: 5px
};


.wishlistItem-name{
    font-family: 'Calibri';
    font-size: 24px;
}

.remove-wishlistItem{
    width: 150px;
    height:30px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color:#f1eeff;
    border: 3px solid #443a6b;
} 
