/* div{git 
    background-color: rgb(255, 250, 244);
} */



.product-name{
color: #443a6b;  
font-family: 'Calibri';
/* font-size: 32px; */

}
section{
    /* background:#ece6ff; */
    cursor: pointer;
    font-family: 'Calibri';
    /* padding: 25px; */
}

.product-card:hover {
    /* background:#ece6ff; */
    background-image: linear-gradient(144deg, #e9d0fa, #c8c0f8 50% ,#e9feff);
    cursor: pointer;
}

.product-price{
    color: #443a6b;
    font-family: 'Calibri';

}

.product-image{

    display: flex;
    width: 300px;
    height: 375px;
};

h3 {
    color: #443a6b;
    display: flex;
    font-size: 24px;
    font-family: 'Calibri';

}

.back-to-home{
    width: 150px;
    height:30px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color:#f1eeff;
    border: 3px solid #443a6b;
    font-family: 'Calibri';
} 

.add-to-wishlist{
    width: 150px;
    height:30px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color:#f1eeff;
    border: 3px solid #443a6b ;
    font-family: 'Calibri';
}

.disclaimer{
    font-size: 12px;
    font-family: 'Calibri';
}

p{
    font-size: 20px;
    font-family: 'Calibri';
    /* padding: 25px; */
}
/* h2 {
    text-decoration: none;
    color: red;
} */
