

.product-image{
   
    display: flex;
    /* border-radius: 10px; */
    width: 300px;
    height: 400px;
};

.product-description{
    display: flex;
}

h2 {
    text-decoration: none;
    color: red;
}
